<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1050</integer>
    <key>capHeight</key>
    <integer>643</integer>
    <key>copyright</key>
    <string>Copyright (c) 2014 Indian Type Foundry (info@indiantypefoundry.com)</string>
    <key>descender</key>
    <integer>-350</integer>
    <key>familyName</key>
    <string>Rajdhani</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2014/11/21 18:16:20</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>3</integer>
    <key>openTypeHheaAscender</key>
    <integer>1050</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-350</integer>
    <key>openTypeHheaLineGap</key>
    <integer>100</integer>
    <key>openTypeNameDesigner</key>
    <string>Satya Rajpurohit (Devanagari), Jyotish Sonowal (Devanagari), Shiva Nalleperumal (Latin)</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.indiantypefoundry.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Indian Type Foundry</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.indiantypefoundry.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Rajdhani</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Medium</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Copyright (c) 2014 Indian Type Foundry (info@indiantypefoundry.com)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Copyright (c) 2014 Indian Type Foundry (info@indiantypefoundry.com)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Rajdhani Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Rajdhani Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>2.000;ITFO;Rajdhani-Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>2.000;ITFO;Rajdhani-Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Rajdhani Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Rajdhani Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Version 2.000;PS 1.0;hotconv 1.0.79;makeotf.lib2.5.61930</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Version 2.000;PS 1.0;hotconv 1.0.79;makeotf.lib2.5.61930</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Rajdhani-Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Rajdhani-Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Rajdhani is a trademark of Indian Type Foundry.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Rajdhani is a trademark of Indian Type Foundry.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Indian Type Foundry</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Indian Type Foundry</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Satya Rajpurohit (Devanagari), Jyotish Sonowal (Devanagari), Shiva Nalleperumal (Latin)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Satya Rajpurohit (Devanagari), Jyotish Sonowal (Devanagari), Shiva Nalleperumal (Latin)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://www.indiantypefoundry.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://www.indiantypefoundry.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://www.indiantypefoundry.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://www.indiantypefoundry.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Rajdhani</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Rajdhani</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Medium</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>19</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>सभी मनुष्यों को गौरव और अधिकारों के मामले में जन्मजात स्वतन्त्रता और समानता प्राप्त है।</string>
      </dict>
    </array>
    <key>openTypeNameUniqueID</key>
    <string>2.000;ITFO;Rajdhani-Medium</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.000;PS 1.0;hotconv 1.0.79;makeotf.lib2.5.61930</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>306</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1050</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-350</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>15</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ITFO</string>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1100</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>400</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptDefaultWidthX</key>
    <integer>233</integer>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Rajdhani-Medium</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Rajdhani Medium</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Medium</string>
    <key>styleMapFamilyName</key>
    <string>Rajdhani Medium</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Medium</string>
    <key>trademark</key>
    <string>Rajdhani is a trademark of Indian Type Foundry.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>510</integer>
  </dict>
</plist>
